.sidebar {
    width: 20vw;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 330px;
    margin-top: 10%;

    .generate_article {
        width: 80px;
        margin-top: 30px;
        align-self: flex-end;
    }
}

 