.outline_ul {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  padding-left: 0;
  padding-top: 0;

  .draggable_item {
    width: 100%;
    padding-left: 20px;
    margin: 10px 0;
    background-color: #F9F9FF;
    border: 1px solid #ccc;
    border-radius: 4px;
    cursor: grab;
    overflow: hidden;
    /* 移除横向滚动条 */
    word-wrap: break-word;
    /* 允许长单词换行 */
    box-sizing: border-box;

    .section_content_item_dragBtn {
      background-color: red;
    }
  }

  .section_content_item_context {
    min-width: 400px;
    height: 100%;
    background-color: #FAFAFC;

    .section_content_item_context_title {
      height: 30px;
      line-height: 18px;
      /* 允许高度自适应 */
      font-weight: 600;
      font-size: 18px;
      overflow: hidden;
    }

    .section_content_item_context_content {
      height: auto;
      min-height: 50px;
      padding: 10px;
      overflow: hidden;
      word-wrap: break-word;

    }
  }
}

.generate_article {
  width: 80px;
  align-self: flex-end;
}